<center>
  <h1> Create An Appearance </h1>
  <%= render 'form' %> <br>
  <%= button_to("Back", appearances_path, method: :get) %> <br>
  <%= button_to("Logout", logout_path, method: :delete) %> <br>
</center>
